{% extends "base.html"%}
{% load static %}
{% block title %}My cart{% endblock %}
{% block content %}
    <div class="container">
    <div><h1>My cart:</h1></div>
        <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
  {% for basket in baskets %}
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ basket.item.name }}</td>
              <td>{{ basket.item.price }}</td>
              <td>{{ basket.amount }} <a href="{% url "delete_one_by_one" basket.pk %}"><i class="bi bi-trash3"></i></a></td>
              <td>{{ basket.total }}</td>
              <th scope="col"><a href="{% url "delete_from_basket" basket.pk %}"><i class="bi bi-trash3"></i></a> </th>
            </tr>
      {% empty %}
      <h5>Your cart is empty</h5>
  {% endfor %}
            <tr>
              <th scope="row"></th>
              <td><h5>Total</h5></td>
              <th scope="row"></th>
              <th scope="row"></th>
             <td>{{ overall }}</td>
            </tr>
          </tbody>
        </table>
        <div>
            <form action="{% url 'create_order' %}" method="post">
            {% include "partial/form.html" with button_text="Checkout" %}
        </form>
        </div>
    </div>

{% endblock %}